<div class="format-actions">
  <button class="format-action"
          type="button"
          [class.format-action--enabled]="styling.bold"
          (click)="toggleStyling('bold', $event)"><b>B</b></button>
  <button class="format-action"
          type="button"
          [class.format-action--enabled]="styling.italic"
          (click)="toggleStyling('italic', $event)"><i>I</i></button>
  <button class="format-action"
          type="button"
          [class.format-action--enabled]="styling.underlined"
          (click)="toggleStyling('underlined', $event)"><u>U</u></button>
</div>
