<div class="file">
  <ng-container>
    <span *ngFor="let word of words; let i = index"
          class="word"
          [class.word--bold]="word.styling.bold"
          [class.word--italic]="word.styling.italic"
          [class.word--underlined]="word.styling.underlined"
          [appSelected]="isWordSelected(i)"
          (dblclick)="onDblClick(i)">
      {{word.content}}
    </span>
    &nbsp;
  </ng-container>

</div>