<ng-container *ngIf="word">
    <h3>Synonyms:</h3>
    <ul class="synonyms-list">
      <li *ngFor="let synonym of synonyms" class="synonyms-list__item" (click)="selectSynonym(synonym)">
        {{ synonym }}
      </li>
    </ul>
</ng-container>
