<div #controlPanel>
  <app-control-panel appStopClickPropagation
                     [styling]="selectedStyling" 
                     (stylingChange)="updateStyling($event)"></app-control-panel>
</div>
<app-file [words]="styledWords"
          [selectedWordIndex]="selectedWordIndex"
          (wordSelected)="onWordSelected($event)"></app-file>
<app-synonyms appStopClickPropagation
              [word]="selectedWord?.content" 
              (synonymSelected)="updateSelectedWord($event)"></app-synonyms>